name: CI

on: [pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Test materialized formula
      # Ideally we would test a) building from source for the current
      # version, b) building from source for HEAD, and c) pouring the pre-built
      # bottle. Unfortunately building from source on GitHub VMs takes 30m+,
      # so presently we only truly test the bottle (c).
      #
      # To have some confidence in (a) and (b), we use `brew fetch` to
      # at least validate the source tarball and Git repository, respectively,
      # can be retrieved by Homebrew.
      run: |
        set -euo pipefail
        mkdir -p "$(dirname $(brew --repo ${{github.repository}}))"
        cp -a "$GITHUB_WORKSPACE" "$(brew --repo ${{github.repository}})"
        brew install docker docker-machine
        brew services start docker-machine
        docker-machine create --driver virtualbox --virtualbox-boot2docker-url=https://github.com/boot2docker/boot2docker/releases/download/v19.03.5/boot2docker.iso default
        eval $(docker-machine env default)
        metadata=$(brew info --json materialized)
        version=$(jq -r .[0].versions.stable <<< "$metadata")
        bottle_hash=$(jq -r .[0].bottle.stable.files.high_sierra.sha256 <<< "$metadata")
        sha=$(git ls-remote https://github.com/MaterializeInc/materialize.git "v$version^{}" | cut -f1)
        echo "MATERIALIZED_VERSION=$version" >> "$GITHUB_ENV"
        echo "version=$version" "sha=$sha" "bottle_hash=$bottle_hash"
        set -x
        brew fetch --build-from-source materialized
        brew fetch --HEAD materialized
        brew install materialized
        brew audit materialized --online --strict
        brew style materialized
        brew linkage --test materialized
        brew test materialized --verbose
        set +x
        if ! materialized --version 2>&1 | grep "$sha"; then
          echo "materialized --version reports wrong version" >&2
          materialized --version
          exit 1
        fi
        bin/mkbottle "$version"
        echo "$bottle_hash  bottle.tar.gz" | shasum -a 256 --check
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: materialized.high_sierra.bottle.tar.gz
        path: materialized-${{env.MATERIALIZED_VERSION}}.high_sierra.bottle.tar.gz
